.slide {
    width: 310px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding: 20px;
    background-color: #2D3032;
    transition: all 0.5s;
    cursor: pointer;
}

.slide__image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 4px;
}

.slide__image {
    width: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
}

.slide__info {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide__category {
    font-weight: 500;
    color: #9615DB;
    margin: 8px 0;
}

.slide__hr {
    border: 1px solid #7D7F80;
    width: 100%;
}

.slide__title {
    font-size: 24px;
}

.slide__footer-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.slide__author {
    color: #7D7F80;
}

.slide__read-more {
    color: #9615DB;
    cursor: pointer;
    transition: color 0.3s ease 0s;
    user-select: unset;
}

.slide__read-more:hover {
    color: #7D7F80;
}