.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}